<div class="about-container">
    <br>
    <br>
    <br>
    <h2>About Us</h2>

    <span class="about-text"><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, harum, nulla delectus perspiciatis suscipit laudantium inventore exercitationem velit aspernatur labore voluptas dolorem facilis ut quidem eligendi non laboriosam dolorum quibusdam?</em></span>



    <div class="newsletter-container">
        <h2>Newsletters</h2>
        <div class="emailform">
            Enter Your Email Address:<br>
            <form>
                <input type="text"  name="email" placeholder="enter email address"><br><br>
                <input type="submit" value="Subscribe"/>
            </form>
        </div>
    </div>

</div>