<footer>
    <h2>Follow Us:</h2>
    <div class="socialmedia-icon-container">

        <div class="socialmedia-icon">
            <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        </div>
        <div class="socialmedia-icon">
           <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
        <div class="socialmedia-icon">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <div class="socialmedia-icon">
            <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
        </div>
        <div class="socialmedia-icon">
            <a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
        </div>
    </div>
</footer>
