
<br>
<br>
<br>

<h2>Meet Our Team</h2>


<div class="teammember-picture">
    <img src="/images/person.jpg" alt="">
</div>
<div class="teammember-text">
    <strong>Andrew Smith</strong><br>
    <em>Software Manager</em>   
</div>
<div class="teammember-picture">
    <img src="/images/person2.jpg" alt="">
</div>
<div class="teammember-text">
    <strong>Mitcal Miller</strong><br>
    <em>Programmer</em>   
</div>
<div class="teammember-picture">
        <img src="/images/person3.jpg" alt="">
</div>
<div class="teammember-text">
    <strong>Nilson Nilli</strong><br>
    <em>Front-End Designer</em>   
</div>