

<h2>Meet Our Team</h2>

<div class="meet-our-team-container-320px">
<div class="teammember-picture">
    <img src="{{ site.github.url}}/images/person.jpg" alt="">
</div>
<div class="teammember-text">
    <strong>Andrew Smith</strong><br>
    <em>Software Manager</em>   
</div>
<div class="teammember-picture">
    <img src="{{ site.github.url}}/images/person2.jpg" alt="">
</div>
<div class="teammember-text">
    <strong>Mitcal Miller</strong><br>
    <em>Programmer</em>   
</div>
<div class="teammember-picture">
        <img src="{{ site.github.url}}/images/person3.jpg" alt="">
</div>
<div class="teammember-text">
    <strong>Nilson Nilli</strong><br>
    <em>Front-End Designer</em>   
</div>

</div>

<div class="meet-our-team-container-820px">
<table class="meetteam-table">
    <tr>
        <td class="teammember-picture">
            <img src="{{ site.github.url}}/images/person.jpg" alt="">
        </td>
        <td class="teammember-text">
             <strong>Mitcal Miller</strong><br>
            <em>Programmer</em>
            
        </td>
    </tr>
    <tr>
        <td class="teammember-picture">
           <img src="{{ site.github.url}}/images/person2.jpg" alt="">
        </td>
        <td class="teammember-text">
            <strong>Andrew Smith</strong><br>
            <em>Software Manager</em>
        </td>
    </tr>
    <tr>
        <td class="teammember-picture">
            <img src="{{ site.github.url}}/images/person3.jpg" alt="">
        </td>
        <td class="teammember-text">
                 <strong>Nilson Nilli</strong><br>
            <em>Front-End Designer</em>
            
        </td>
    </tr>
    
</table>
</div>