.meet-our-team-container-820px {
    display: flex;
    justify-content: center;
}

h2 {
 font-weight: lighter;
}

.teammember-picture img {
    border-radius: 20rem;
    border: .1rem solid gray;
}

.teammember-picture {
    display: flex;
    justify-content: center;
    align-items: center;
}


.teammember-text {
    font-family: arial;
    margin:1rem 0;
    text-align: center;
}


.meetteam-table {
    height:auto;
    text-align:center;
}
.meetteam-table tbody:first-child{
    display:inline-flex;
}

.meetteam-table tr:nth-child{
    display:flex;
    text-align:center;
}

